<h1 style="color:blue;"> Laboratorio 2 - Limpieza de Datos </h1>

In [15]:
   
    '''Empezamos importando las librerìas necesarias para realizar la limpieza de los datos existentes del Dataset '''

import pandas as pd
import numpy as np

In [16]:
 
    ''' Creamos la funciòn para importar nuestro Dataset '''

df= pd.read_csv('data_act_01.csv')

# Primer Error - Formato del Archivo

El primer error encontrado al ejecutar el dataset como se puede ver es que los datos se encuentran en una sola columna, esto se debe a que los datos se encuentran separados por un punto y coma(;) y no por una coma(,) como debería ser normalmente.

In [17]:
  
    ''' Enviamos a imprimir los datos existentes dentro del Dataset '''
    
df

      CrimeId;OriginalCrimeTypeName;OffenseDate;CallTime;CallDateTime;Disposition;Address;City;State;AgencyId;Range;AddressType
0      160903280;Assault / Battery;2016-03-30T00:00:0...
1      160912272;Homeless Complaint;2016-03-31T00:00:...
2      160912590;Susp Info;2016-03-31T00:00:00;16:49;...
3      160912801;Report;2016-03-31T00:00:00;17:38;201...
4      160912811;594;2016-03-31T00:00:00;17:42;2016-0...
...                                                  ...
10046  160964210;Well Being Check;2016-04-05T00:00:00...
10047  160964216;Traffic Stop;2016-04-05T00:00:00;23:...
10048  160964227;Traffic Stop;2016-04-05T00:00:00;23:...
10049  160964229;Passing Call;2016-04-05T00:00:00;23:...
10050  160964249;Traffic Stop;2016-04-05T00:00:00;23:...

[10051 rows x 1 columns]

# Corrección del Error

Para corregir el error presentado en el dataset se utilizó el parámetro sep donde se le especifíca el delimitador con el cual cuenta el archivo. Como se sabe este parámetro nos ayuda a separar los espacios que por defecto Python nos presenta. Y en este caso se le establece al separador que al encontrar un punto y coma en cada uno de los datos los separe, logrando de esta manera presentar los datos correctamente separados.

In [18]:
  
    ''' Creamos nuevamente la funciòn para importar nuestro Dataset agregando el parámetro sep, el cual nos permite separar los datos por espacios '''

df= pd.read_csv('data_act_01.csv', sep= ';')

In [19]:

    '''Se realiza una función mediante el uso del método head,el cual nos imprime los primeros datos del Dataset '''

df.head(10)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
5,160913003,Ref'd,2016-03-31T00:00:00,18:29,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,NaN,Intersection
6,160913050,Homeless Complaint,2016-03-31T00:00:00,18:43,2016-03-31T18:43:00,ADV,Berwick Pl/harrison St,San Francisco,CA,1,NaN,Intersection
7,160913056,Homeless Complaint,2016-03-31T00:00:00,18:47,2016-03-31T18:47:00,HAN,Florida St/mariposa St,San Francisco,CA,1,NaN,Intersection
8,160913078,Agg Assault / Adw Dv,2016-03-31T00:00:00,18:52,2016-03-31T18:52:00,ND,100 Block Of Genebern Wy,San Francisco,CA,1,NaN,Premise Address
9,160913103,Encampment,2016-03-31T00:00:00,18:57,2016-03-31T18:57:00,ADV,2700 Block Of Folsom St,San Francisco,CA,1,NaN,Premise Address

# Segundo Error - Valores Nulos

El segundo error encontrado dentro del dataset son valores nulos dentro de las columnas City, States y Range. Mediante el uso de la función isnull podemos observar el número exacto de valores faltantes dentro de las columnas.

In [20]:

    '''Mediante el uso del método isnull visualizamos el total de valores nulos existentes en cada una de las columnas '''

df.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

# Corrección del Error

Para corregir el error encontrado se hace uso de la función fillna la cual reemplaza los valores faltantes o nulos por valores en cero, en el conjunto de datos existen valores nulos dentro de las columnas City, State y Range tal como se observa. Al implementar esta función podemos ver que donde existían valores NaN los reemplazo por valores en 0, ya que al contar con valores nulos nos puede generar muchos problemas a la hora de realizar un análisis de nuestros datos.

In [21]:

    '''Creamos una funciòn la cual nos ayudarà a reemplazar los valores vacios que existen en las columnas City, State y Range por valores en Cero, ya que al tener valores nulos nos puede generar muchos problemas a la hora de realizar un análisis de nuestros datos.  '''

df[['City', 'Range','State']] = df[['City', 'Range','State']].fillna(value=0)

Al verificar una vez más si existen o no datos nulos podemos ver que las columnas City, State y Range ya no presentar datos nulos.

In [22]:
  
    '''Enviamos a imprimir nuevamente los datos para verificar que se reemplazaron los valores nulos por valores en 0 '''

df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,0.0,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,0.0,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,0.0,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,0.0,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,0.0,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,0.0,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,0.0,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,0.0,Intersection

In [23]:

    '''Mediante el uso del método isnull visualizamos nuevamente el total de valores nulos, con el fin de verificar que ya no exista ningun valor nulo dentro de las columnas modificadas '''

df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
Range                    0
AddressType              0
dtype: int64

# Tercer Error - Reemplazo de Datos Redundantes

El tercer error presentado fue el tener datos redundantes en las columnas City y State. En la columna City existian datos de la ciudad de San Francisco en mayúsculas y minúsculas, mientras que en la columna State se transforma CA a 1 para tener la columna totalmente numérica.

# Columna City

In [24]:
    ''' Mediante la función groupby agrupamos todos los datos que existen dentro de la columna City '''

df.groupby('City').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,Range,AddressType
City,,,,,,,,,,,
0,321,321,321,321,321,321,321,321,321,321,321
S,1,1,1,1,1,1,1,1,1,1,1
Brisbane,1,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3,3
SAN FRANCISCO,1,1,1,1,1,1,1,1,1,1,1
San Francisco,9665,9665,9665,9665,9665,9665,9665,9665,9665,9665,9665
Treasure Isla,51,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3,3

# Corrección del Error

In [25]:
    ''' Mediante la función replace reemplazaremos las palabras que existan en mayúsculas por minúsculas '''

df['City']= df['City'].replace('SAN FRANCISCO','San Francisco')

In [26]:
    ''' Verificamos que el reemplazo de la fila se realizó correctamente '''

df.groupby('City').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,Range,AddressType
City,,,,,,,,,,,
0,321,321,321,321,321,321,321,321,321,321,321
S,1,1,1,1,1,1,1,1,1,1,1
Brisbane,1,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3,3
San Francisco,9666,9666,9666,9666,9666,9666,9666,9666,9666,9666,9666
Treasure Isla,51,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3,3

In [27]:
    ''' Mediante la función replace reemplazaremos ahora la letra S por la ciudad de San Francisco '''

df['City']= df['City'].replace(' S','San Francisco')

In [28]:
    ''' Verificamos que el reemplazo de la fila se realizó correctamente '''

df.groupby('City').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,Range,AddressType
City,,,,,,,,,,,
0,321,321,321,321,321,321,321,321,321,321,321
Brisbane,1,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3,3
San Francisco,9667,9667,9667,9667,9667,9667,9667,9667,9667,9667,9667
Treasure Isla,51,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3,3

In [29]:
    ''' Mediante la función replace reemplazaremos el valor de 0 por la ciudad de San Francisco '''

df['City']= df['City'].replace( 0,'San Francisco')

In [30]:
    ''' Verificamos que el reemplazo de la fila se realizó correctamente '''

df.groupby('City').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,Range,AddressType
City,,,,,,,,,,,
Brisbane,1,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3,3
San Francisco,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988
Treasure Isla,51,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3,3

# Columna State

In [31]:
    ''' Mediante la función groupby agrupamos todos los datos que existen dentro de la columna State '''

df.groupby('State').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,AgencyId,Range,AddressType
State,,,,,,,,,,,
0,3,3,3,3,3,3,3,3,3,3,3
CA,10048,10048,10048,10048,10048,10048,10048,10048,10048,10048,10048

# Corrección del Error

In [32]:
    ''' Mediante la función replace reemplazaremos el valor de CA por el valor de 1 en la columna State '''

df['State']= df['State'].replace('CA','1')

In [33]:
    ''' Verificamos que el reemplazo de la fila se realizó correctamente '''

df.groupby('State').count()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,AgencyId,Range,AddressType
State,,,,,,,,,,,
0,3,3,3,3,3,3,3,3,3,3,3
1,10048,10048,10048,10048,10048,10048,10048,10048,10048,10048,10048

# Corrección del Error

In [34]:
    '''Creamos una función mediante el uso del método to_numeric para modificar el formato del tipo de dato de la columna State '''

df['State']=pd.to_numeric(df['State'], errors='coerce')

In [35]:
df.dtypes

CrimeId                    int64
OriginalCrimeTypeName     object
OffenseDate               object
CallTime                  object
CallDateTime              object
Disposition               object
Address                   object
City                      object
State                      int64
AgencyId                  object
Range                    float64
AddressType               object
dtype: object

# Cuarto Error - Reemplazo de la moda en datos numéricos

El cuarto error presentado en la limpieza de los datos es el contar con datos numéricos y de texto dentro de las columnas Disposition y OriginalCrimeTypeName. Mediante el uso de la función unique() visualizamos los datos que existen en cada de las columnas.

# Columna Disposition

In [36]:
df['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', '22',
       'CRT', 'SFD'], dtype=object)

# Corrección del Error

Para corregir el error encontrado se realiza el cálculo de la moda mediante el uso de la función mode() la cual toma el valor que más se repite dentro de la columna y lo reemplaza por el valor de la moda.

In [37]:
moda= df['Disposition'].mode()

In [38]:
df['Disposition']= df['Disposition'].replace('22', moda[0])

In [39]:
df['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', 'CRT',
       'SFD'], dtype=object)

In [40]:
df['Disposition']= df['Disposition'].replace('Not recorded', moda[0])

In [41]:
df['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'CIT', 'PAS',
       'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', 'CRT', 'SFD'],
      dtype=object)

# Columna OriginalCrimeTypeName

In [42]:
df['OriginalCrimeTypeName'].unique()

array(['Assault / Battery', 'Homeless Complaint', 'Susp Info', 'Report',
       '594', "Ref'd", 'Agg Assault / Adw Dv', 'Encampment', 'Burglary',
       'Suspicious Person', 'Ip', 'Arrest Made', 'Tent',
       'Intoxicated Person', 'Guitar', 'H&r Veh Accident', 'Music',
       'Person Dumping', 'Vandalism', 'Petty Theft', '415',
       'Noise Nuisance', 'Fraud', 'Rep', 'Meet W/citizen',
       'Prisoner Transport', 'Poss', 'Trespasser', 'Stolen Vehicle',
       'Fight No Weapon', 'Check For Ped', 'Juvenile Disturbance',
       'Party', 'Lltd', 'Robbery', '601', '500e', '913', 'Traffic Stop',
       '909', 'Person W/gun', 'Suspicious Vehicle', 'Fight No Weapon Dv',
       'Audible Alarm', 'Parking', 'Pay', 'Silent Holdup Alarm',
       'Passing Call', 'Sleeper', 'Family', 'Thumping', 'Loud Music',
       '916', 'Att', 'Threats / Harassment', 'Boombox',
       'Traf Violation Tow', 'Dw', 'Bar Check', 'Suicide Attempt', 'Susp',
       'Crosswalk', 'Casing/917', 'Wireless-Drop', 'Uc Hastings/405',
       'Bomb Threat', 'Mentally Disturbed', 'Silent Alarm',
       'Traf Violation Cite', 'Person Breaking In', 'Complaint Unkn',
       '811', 'Casing', 'Prowler', 'Shots Fired', 'Shooting', '915',
       'Citizen Arrest', '919', '417', 'Person Screaming',
       'Well Being Check', '917', '917/811', 'Jo/bolo',
       'Wanted Vehicle / Sub', 'Ug', 'Poss Ip', 'Hold-Up', '531', 'Fare',
       'Construction', 'Drugs', 'Campers', 'Poss/601',
       'Assault / Battery Dv', 'X', 'Return', 'Rtl', 'Verbal', '518',
       'Meet W/officer', '488', 'Awol', 'Strongarm Robbery', 'Aggressive',
       'Male', "Veh's", 'Rz', 'Sw', 'Encampent', 'Loitering',
       'Muni Inspection', 'Auto Boost / Strip', 'Jo', 'Dw/rz', '22500e',
       'Sleepers', 'Fire', 'Mal', 'Trc 7.2.46', 'Reckless', 'Camper',
       '22500f', 'City Veh', 'Openline', 'Indecent Exposure',
       'Injury Veh Accident', 'Rept', 'Cw', '851', 'Prem Check',
       'Person W/knife', 'Ringing Doorbell', 'Veh Accident',
       'Sleeper 601', 'I/p', 'Video', 'Unoccupied', 'R/o Violation',
       'Psych Eval / Hold', 'Missing Adult', 'Vehicle Alarm',
       'Person Down', '418', 'Found Drugs', 'Citizen Standby', 'Yelling',
       '7.2.41', 'Lltn', '7.2.45', 'Nabor', 'X 594', 'Glass Bottles',
       'Missing Juvenile', 'Sexual Assault Juve', '852', 'Escalating',
       'Demo / Protest', 'Death / Coroner', 'Jjo', 'Vc21113a',
       'Aggressive 601', 'Sexual Assault Adult', '601 Ug',
       'Recover Missing Veh', 'Npat', 'Aggr Soliciting', '7.2.46',
       'Dog Barking', '800', 'Grand Theft', 'Rz/dw',
       'H&r Injury Accident', 'Pepperspray', '22500e/22500b', 'Vendors',
       'Agg Assault / Adw', 'Crack', '905/muni', 'Opp', '311',
       'Stolen Property', 'Poss Caser', '22500h', '22514',
       'Senile Person', '311 X', 'Selling Foods', 'Muni', 'Elevator',
       'Veh', 'Ll/td', '221', 'Static', 'Road Rage', 'W/a Hammer',
       '221 Poss', 'At Risk', 'Drop', 'Juve Beyond Control', '22500e/.25',
       'Squattters', 'Illegal Vendor', '7.2.25', 'Parking Space',
       'Susp Poss', '22500a', '913/child', 'Dancer', '500f', '500h',
       '7.2.28', 'Drinking', '240/spit', 'Poss 5150', 'Ped',
       'Pepper Spray', '222', '487', '368ca Poss', '470', '22500i',
       'Panic Alarm', 'Drugs Needles', '911 Hu', 'Purse Snatch',
       '212 Poss', '7.2.26', 'Custody', '7.2.27', '22500eal',
       'Resisting Arrest', 'Mc', 'Dirtbikes', 'Gamblers', 'Drugs/dealing',
       'Drunk Driver', 'Ret', 'Spitter', 'Prostitute/solicite',
       'Aided Case', '22500f/cw', 'Suspect', '518/muni', '22500b',
       'Barking', '7.2.32', 'Bat', 'Dirtbikes/586', '213', 'Encampments',
       '7.2.38', '7.2.40', 'Ll/ll', 'Adv', 'Chp', '911-Drop', 'Hammer',
       'Open Line', 'Physical', 'Dog', '915 Sleeper', '910',
       'Pay Dispute', '245', 'Keys', 'Nabors', '650', 'Opportunist',
       'Live Band', 'Recorder', 'Female', 'Poss 152', 'Poss Casing',
       '915 Encampment', 'Tx To Chp', 'Party Yelling', '852 Poss',
       "Juv's", '586/poss 588', '5150', 'At The Atm', 'Male/poss Hazard',
       'Heated', 'Adv To 0123', 'Busn', 'Dw Tow', 'Band', 'Kidnapping',
       'Poss Attempt', 'Driveway', 'Threats Dv', '415 Music',
       'Att/240 Jo', '5150 Poss', 'Stick', 'Spike', '647b Poss', 'Alarm',
       'Sideshow', '22502a', 'Taxi Zone', 'Graffiti Vandalism', '601 Rtl',
       'Living', 'Roof', 'Dp', '22500l', '801 Poss', 'J/o', 'Gz', 'Caser',
       'Wz', '519', 'Poss Escalating', 'Sign', 'Ambulance', 'Drops//busn',
       'Suspects', '811 Male', 'Camp', 'Attemp', 'Drinkers', 'Uwg', 'Lp',
       'H&r', 'Poss 207', 'Tree Bark', 'Poss 800', 'Vendor', 'Casing/852',
       'Ro Viol', '519 Poss', '9915', 'Pups', '518hr', 'Reckless Mcs',
       '586', '800attempt', 'Follow Up', 'Chop Shop', 'Paydispute',
       'Illegal Gambling', 'Rep Identity Theft', '225800e',
       '852 Occupied', '594 Poss', 'Busn/voip', 'Roadrage', '252500e',
       '420 Drugs', '912', 'Sudrugs', 'Fi**expedite**', 'Rtl/aggressive',
       'Ro Violation', 'Tow Truck', '800 Poss', '*909*', '22500',
       '152 Jo', '7.2.25/2250e', 'Agressive', 'Pay Dis', 'Rtl Cab',
       'Drummer', '22500f/7.2.70', 'Person W/knife Dv', 'Hu', '800  Poss',
       '152 Poss', 'Elderly X', 'Hold Up', 'Chp 1030 Veh', 'Sagressive',
       'Bart', '240 Poss', 'Illegal Vendors', 'Loud Party', 'Stabbing',
       'Roomate', 'Fireworks', 'Property', 'Iph', 'Bottles', 'Cane',
       'Get Inside The Bldg', 'Music/909', 'Panic', '601rtl',
       'Vandalism Dv', 'Neighbors', 'Open', 'Poss/910prem Check',
       'Stattic', '594 Ip', '601uwg', '911', 'Poss 519', 'Making A Mess',
       'Campers W/bikes', 'Pos Jumper', 'Doorway/917', 'Camping',
       '**Tazer**', 'Loading Dock', 'Bl', 'Naked', 'Attempt',
       'Explosive Found', 'Car Campers', '915 Campers',
       'Poss Unreported 1030', 'Subj', 'Fp', 'Gambling', 'Wild',
       '5150 Hold Poss', '419', '7.2.41/22500f', 'Shooting Up',
       'St Vendors', '22500e/rz', 'Person Break In Dv', 'Veh W/open Door',
       '22507.8a', 'Poss 801', '901 For 909', 'Unocc', 'Samurai',
       '911 Open', 'Poss/851 Attemp Poss', 'Drugdealer', "Mc's", 'S',
       'Rp', '459', 'Atc', '915s', 'Rtl/811', '420', 'Amplified',
       'Tra7.2.37', 'Casers', 'Jump', 'Dismember Body Part', 'Poss/420',
       '500b', '7.2.25/22500e', 'Busy', '528 Poss', 'Poss Walk Thru',
       'Mace', 'Child', 'Loud Bass', 'Spit', 'Prem', 'Roof Squatters',
       '.25/500e', '910 X', 'Drug Use', 'In Svc/ On Foot', 'Explosion',
       'Scratch', '916/music', 'Return Call', 'Verbals', '100v',
       'Loud Talking', '601/415', 'Hot', 'Cassing', 'Poss 488', 'A',
       '152', '601/311', 'Trc 7.2.45', 'Cz', 'Silent', 'Poss Hazard',
       '502a', '801 Threats', 'Home Invasion', '911 Drop', 'Tz', 'Npa',
       'Toilet', 'Dropped Call', '459 Attempt', 'Ucpd', 'Jumper',
       'Dog Bite', '909x', 'Attempt Report', 'Tro', 'Stepping On Plants',
       'Muni Alarm', 'Ld', '240/602 Suspect', 'Poss Susp', '311x/poss800',
       'Dogs Barking', 'Panhandler W/pitbull', 'Video Surveillence',
       'H/r', '221/222 Poss', 'Areport', 'Protestors', '470 Poss',
       'Broken Window', '`Drugs', 'Haz', 'House', '418rm', '240', '21211',
       'Att Jo', "Loud Subj's", '811 Poss', '601/488', '7.2.70', 'Resd',
       'Maced', '801', 'Suatters', '22514/500b', '212', '911 Open Line',
       'Recycling', 'Park Ranger', 'Curb', 'Pills', 'Ll/ Tenant',
       '219/601', 'Ifo', '911 Hu Call', '920 Rtl', 'Poss Att', 'Att Only',
       'Ams', '***901 Req***', 'Drugs/915', 'Rpt', 'Children', '500e/rz',
       'Vehicle', 'Ug Rtl', '601/family', 'Death', 'Att Susp', '9909',
       '2 Reps', 'Vending', 'Drp', 'Brewing/pay Dispute', 'Skateboarders',
       'Sonitrol', 'Wreckless Driver', '148', 'Bicylist', '852 Casing',
       'Nabo', 'R.o. Violation', '910 Poss', '22500e/500h', 'Pay Disp',
       '22654e', 'Brewing', '.52', 'Phys', '222 Att', 'Wireless-Open',
       'Adv To Co A', 'Wireless-H/u'], dtype=object)

# Corrección del Error

Para corregir el error encontrado se realiza el cálculo de la moda mediante el uso de la función mode() la cual toma el valor que más se repite dentro de la columna y lo reemplaza por el valor de la moda.

In [43]:
moda= df['OriginalCrimeTypeName'].mode()

In [44]:
df['OriginalCrimeTypeName']= df['OriginalCrimeTypeName'].replace( '594', moda[0])

In [45]:
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,1,1,0.0,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,1,1,0.0,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,1,1,0.0,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,1,1,0.0,Premise Address
4,160912811,Traffic Stop,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,1,1,0.0,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,1,1,0.0,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,1,1,0.0,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,1,1,0.0,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,HAN,0 Blk Herbst Rd,San Francisco,1,1,0.0,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,1,1,0.0,Intersection

# Quinto Error - Datos Duplicados

El quinto error presentado es la existencia de datos duplicados dentro de la columna CrimeId. Mediante el uso de la función duplicated podemos verificar el número exacto de datos duplicados dentro de la columna CrimerId.

In [46]:

    '''Mediante el uso del método duplicated verficamos el número de datos duplicados dentro de la columna CrimeId   '''

df['CrimeId'].duplicated().sum()

4

In [47]:

    '''Creamos un filtro de los datos duplicados de la columna CrimeID y los transformamos en una lista.   '''

duplicates = df[df['CrimeId'].duplicated(keep=False)]['CrimeId'].tolist()

In [48]:

    '''Visualizamos los datos de los ID duplicados que existen dentro de la columna CrimeId.   '''

duplicates[:10]

[160913455, 160913455, 160913455, 160950496, 160950496, 160950496]

# Corrección del Error

Para corregir el error encontrado se crea un set de la lista de los valores, donde se le especifíca mediante el for que se debe recorrer el set de duplicados y debe comparar con cada uno de los datos en el Dataframe. Al encontrar un dato igual este debe sumarle 1 al número de CrimeId, de esta forma evitamos que se den valores duplicados dentro del CrimeId que es donde nos presenta el error.

In [49]:

    '''Realizamos una función la cual crea un set de la lista de los datos duplicados existentes en la columna CrimeId   '''

set_duplicates = set(duplicates)

In [50]:
'''Realizamos una función mediante el uso de un for el cual debe recorrer el set de duplicados y debe comparar con cada uno de los datos en el Dataframe. Al encontrar un dato igual este debe sumarle 1 al número de CrimeId, de esta forma evitamos que se den valores duplicados dentro del CrimeId que es donde nos presenta el error. '''
    
for r in set_duplicates:
    dup= df[df['CrimeId'] == r]
    df.loc[dup.iloc[1,:].name, 'CrimeId']= df.loc[dup.iloc[1,:].name]['CrimeId'] + 1

Verificamos una vez más el número de duplicados dentro de la columna mediante la función duplicated y como podemos observar ya no presenta ningún dato duplicado.

In [51]:

    '''Visualizamos nuevamente los datos para verificar que no haya ningun registro duplicado dentro de la columna CrimeId '''

df.duplicated().sum()

0

# Sexto Error - Formato de Fechas y Horas

El sexto error presentado como se puede visualizar dento de las columnas OffenseDate y CallDateTime contienen la misma información y por ende el mismo formato de fecha y hora. Por lo cual se realiza el cambio de formato y del tipo del datos de estas dos columnas.

In [52]:

    '''Mediante el uso del método loc seleccionamos las filas y las columnas de las columnas OffenseDate y CallDateTime para poder visualizar de mejor manera el tipo de formato que manejan en la Fecha del delito y la Fecha y hora de la llamada '''

df.loc[:, ['OffenseDate', 'CallDateTime']]

               OffenseDate         CallDateTime
0      2016-03-30T00:00:00  2016-03-30T18:42:00
1      2016-03-31T00:00:00  2016-03-31T15:31:00
2      2016-03-31T00:00:00  2016-03-31T16:49:00
3      2016-03-31T00:00:00  2016-03-31T17:38:00
4      2016-03-31T00:00:00  2016-03-31T17:42:00
...                    ...                  ...
10046  2016-04-05T00:00:00  2016-04-05T23:38:00
10047  2016-04-05T00:00:00  2016-04-05T23:43:00
10048  2016-04-05T00:00:00  2016-04-05T23:48:00
10049  2016-04-05T00:00:00  2016-04-05T23:48:00
10050  2016-04-05T00:00:00  2016-04-05T23:54:00

[10051 rows x 2 columns]

# Corrección del Error

Para corregir el error encontrado creamos una función mediante el uso del método to_datetime. Este tipo de método nos permite cambiar el formato de la hora y fecha de las columnas OffenseDate, CallDateTime y CallTime.

In [53]:

    '''Creamos una función mediante el uso del método to_datetime para modificar el formato de hora y fecha correctamente dentro de la columna OffenseDate(Fecha del delito) '''

df['OffenseDate'] = pd.to_datetime(df['OffenseDate'])

In [54]:

    '''Creamos una función mediante el uso del método to_datetime para modificar el formato de hora y fecha correctamente dentro de la columna CallDateTime(Fecha y hora de la llamada ) '''

df['CallDateTime'] = pd.to_datetime(df['CallDateTime'])

In [55]:

    '''Creamos una función mediante el uso del método to_datetime para modificar el formato de hora correctamente dentro de la columna CallTime, la cual nos presenta el Tiempo de duración de llamada '''

df['CallTime']= pd.to_datetime(df['CallTime'], format='%H:%M:%S', errors='ignore')

In [56]:
''' Enviamos a imprimir nuevamente el DataFrame de nuestro dataset para verificar que el formato de las fechas y hora fueron modificadas correctamente '''

df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30,18:42,2016-03-30 18:42:00,REP,100 Block Of Chilton Av,San Francisco,1,1,0.0,Premise Address
1,160912272,Homeless Complaint,2016-03-31,15:31,2016-03-31 15:31:00,GOA,2300 Block Of Market St,San Francisco,1,1,0.0,Premise Address
2,160912590,Susp Info,2016-03-31,16:49,2016-03-31 16:49:00,GOA,2300 Block Of Market St,San Francisco,1,1,0.0,Premise Address
3,160912801,Report,2016-03-31,17:38,2016-03-31 17:38:00,GOA,500 Block Of 7th St,San Francisco,1,1,0.0,Premise Address
4,160912811,Traffic Stop,2016-03-31,17:42,2016-03-31 17:42:00,REP,Beale St/bryant St,San Francisco,1,1,0.0,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05,23:38,2016-04-05 23:38:00,GOA,Hollister Av/hawes St,San Francisco,1,1,0.0,Intersection
10047,160964216,Traffic Stop,2016-04-05,23:43,2016-04-05 23:43:00,ADV,California St/mason St,San Francisco,1,1,0.0,Intersection
10048,160964227,Traffic Stop,2016-04-05,23:48,2016-04-05 23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,1,1,0.0,Intersection
10049,160964229,Passing Call,2016-04-05,23:48,2016-04-05 23:48:00,HAN,0 Blk Herbst Rd,San Francisco,1,1,0.0,Geo-Override
10050,160964249,Traffic Stop,2016-04-05,23:54,2016-04-05 23:54:00,ADV,Grant Av/geary St,San Francisco,1,1,0.0,Intersection

In [57]:

    '''Mediante el uso de la función dtypes podemos visulizar que el tipo de dato y el formato de las columnas OffenseDate y CallDateTime cambiaron al formato datetime '''

df.dtypes

CrimeId                           int64
OriginalCrimeTypeName            object
OffenseDate              datetime64[ns]
CallTime                         object
CallDateTime             datetime64[ns]
Disposition                      object
Address                          object
City                             object
State                             int64
AgencyId                         object
Range                           float64
AddressType                      object
dtype: object

# Septimo Error - Eliminación de Columnas Innecesarias

El septimo error que se presentó fue que dentro de la columnas Range y OffenseDate existían datos redundantes, a lo que se entiende que estas columnas no representan nada dentro del Dataset. Cabe recalcar que al realizar un shape visualizamos que existen 10051 datos y es el mismo número de valores nulos que presentaba la columna Range. De igual manera se procede a eliminar la columna CallDateTime, ya que esta columna contiene la misma información de la columna OffenseDate. Es por esto que se decidió eliminar por completo las columnas.

In [58]:

    '''Mediante el uso del método shape visualizamos el valor total de los datos y las columnas con las que cuenta el Dataset  '''

df.shape

(10051, 12)

In [59]:

    '''Enviamos a imprimir los datos del Dataset para verificar los datos nulos que existen dentro de la columna Range'''

df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30,18:42,2016-03-30 18:42:00,REP,100 Block Of Chilton Av,San Francisco,1,1,0.0,Premise Address
1,160912272,Homeless Complaint,2016-03-31,15:31,2016-03-31 15:31:00,GOA,2300 Block Of Market St,San Francisco,1,1,0.0,Premise Address
2,160912590,Susp Info,2016-03-31,16:49,2016-03-31 16:49:00,GOA,2300 Block Of Market St,San Francisco,1,1,0.0,Premise Address
3,160912801,Report,2016-03-31,17:38,2016-03-31 17:38:00,GOA,500 Block Of 7th St,San Francisco,1,1,0.0,Premise Address
4,160912811,Traffic Stop,2016-03-31,17:42,2016-03-31 17:42:00,REP,Beale St/bryant St,San Francisco,1,1,0.0,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05,23:38,2016-04-05 23:38:00,GOA,Hollister Av/hawes St,San Francisco,1,1,0.0,Intersection
10047,160964216,Traffic Stop,2016-04-05,23:43,2016-04-05 23:43:00,ADV,California St/mason St,San Francisco,1,1,0.0,Intersection
10048,160964227,Traffic Stop,2016-04-05,23:48,2016-04-05 23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,1,1,0.0,Intersection
10049,160964229,Passing Call,2016-04-05,23:48,2016-04-05 23:48:00,HAN,0 Blk Herbst Rd,San Francisco,1,1,0.0,Geo-Override
10050,160964249,Traffic Stop,2016-04-05,23:54,2016-04-05 23:54:00,ADV,Grant Av/geary St,San Francisco,1,1,0.0,Intersection

# Corrección del Error

In [60]:

    '''Mediante el uso del método drop eliminamos la columna Range, ya que al no tener ningún tipo de dato no es necesaria la limpieza de los datos '''

df.drop(['Range'], axis='columns', inplace=True)

In [61]:

    '''Visualizamos nuevamente los datos para verificar que se eliminó la columna Range correctamente '''

df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30,18:42,2016-03-30 18:42:00,REP,100 Block Of Chilton Av,San Francisco,1,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31,15:31,2016-03-31 15:31:00,GOA,2300 Block Of Market St,San Francisco,1,1,Premise Address
2,160912590,Susp Info,2016-03-31,16:49,2016-03-31 16:49:00,GOA,2300 Block Of Market St,San Francisco,1,1,Premise Address
3,160912801,Report,2016-03-31,17:38,2016-03-31 17:38:00,GOA,500 Block Of 7th St,San Francisco,1,1,Premise Address
4,160912811,Traffic Stop,2016-03-31,17:42,2016-03-31 17:42:00,REP,Beale St/bryant St,San Francisco,1,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05,23:38,2016-04-05 23:38:00,GOA,Hollister Av/hawes St,San Francisco,1,1,Intersection
10047,160964216,Traffic Stop,2016-04-05,23:43,2016-04-05 23:43:00,ADV,California St/mason St,San Francisco,1,1,Intersection
10048,160964227,Traffic Stop,2016-04-05,23:48,2016-04-05 23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,1,1,Intersection
10049,160964229,Passing Call,2016-04-05,23:48,2016-04-05 23:48:00,HAN,0 Blk Herbst Rd,San Francisco,1,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05,23:54,2016-04-05 23:54:00,ADV,Grant Av/geary St,San Francisco,1,1,Intersection

In [62]:
    '''Mediante el uso de la función drop eliminamos la columna CallDateTime ya que esta columna muestras los mismos datos de la columna  CallDateTime '''

df.drop(['CallDateTime'], axis='columns', inplace=True)

In [63]:
  '''Visualizamos nuevamente los datos para verificar que se eliminó la columna CallDateTime correctamente '''

df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30,18:42,REP,100 Block Of Chilton Av,San Francisco,1,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31,15:31,GOA,2300 Block Of Market St,San Francisco,1,1,Premise Address
2,160912590,Susp Info,2016-03-31,16:49,GOA,2300 Block Of Market St,San Francisco,1,1,Premise Address
3,160912801,Report,2016-03-31,17:38,GOA,500 Block Of 7th St,San Francisco,1,1,Premise Address
4,160912811,Traffic Stop,2016-03-31,17:42,REP,Beale St/bryant St,San Francisco,1,1,Intersection
...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05,23:38,GOA,Hollister Av/hawes St,San Francisco,1,1,Intersection
10047,160964216,Traffic Stop,2016-04-05,23:43,ADV,California St/mason St,San Francisco,1,1,Intersection
10048,160964227,Traffic Stop,2016-04-05,23:48,CIT,Rosella Ct/onondaga Av,San Francisco,1,1,Intersection
10049,160964229,Passing Call,2016-04-05,23:48,HAN,0 Blk Herbst Rd,San Francisco,1,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05,23:54,ADV,Grant Av/geary St,San Francisco,1,1,Intersection

# Archivo Json

Una vez realizada la limpieza de los datos del Dataset seleccionado se procede a crear un documento JSON, el cual contiene toda la información de las columnas y filas modificadas.

In [64]:

    '''Creamos una función mediante el uso del método to_json, el cual nos permite crear  convertir un DataFrame de pandas en una lista de diccionarios de los datos limpios del Dataset'''

df.to_json('data_act_01_Limpiada.json', orient='records', lines=True)